# Dependencies
node_modules/

# Build output
dist/
tsconfig.build.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Logs
*.log
nest-out.log
nest-err.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Coverage
coverage/
